.canvas {
  min-height: 80vh;
  align-items: center;
}

.bannerContainer {
  width: 100%;
  height: 20%;
  position: relative;
}

.banner {
  margin: auto;
  text-align: center;
  vertical-align: auto;
  max-width: 45em;
}

.textBg {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: #eee8d5;
  margin-bottom: 1rem;
}

.textCanvas {
  white-space: pre-line;
  width: 90%;
  max-width: 45em;
  margin: auto;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color:#eee8d5;
  font-family: Arvo;
}
